trunk/Kick's Profiles/1-90 Questing Profile Pack/Schemas/XSD/HBSchema-QuestProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="HBLevelbot-Types.xsd"/>
  <xs:include schemaLocation="HBLevelbot-CoreElements.xsd"/>
  <xs:include schemaLocation="HBConditions.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-ArgentTournament.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-ButtonPress.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-General.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-Hooks.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-Misc.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-SpecificQuests.xsd"/>
  <xs:include schemaLocation="HBCustomBehaviors-Vehicles.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
  <!--
    =====
    Original contribution by chinajade
      $Rev$
      $Date$
    
    WARNING: DO NOT EDIT .xsd files--they are not authoritative
      and will be overwritten!
      Instead, regenerate the .xsd files from the .rnc 'sources'.
      Its a one-line command to do this. Please see README.txt
      for more information.
    =====
  -->
  <!--
    -----
    This schema is more restrictive than Honorbuddy allows.
    For instance, the schema only allows the preferred name of attributes, and flags
    the alias names as errors.  For instance, the schema prefers "Id" to "Entry",
    "DestName" to "Name" (depending on context), etc.
    The intent is to:
    1) Make the profile pack consistent throughout by using the same names
       for the same attributes within a given context.
    2) Maximize the readability and maintainability of the profile
       by using descriptive names when ambiguity is possible.
       An example of this, we prefer
         <UseItem ... QuestId="123" ... ItemId="234" ... />
       to
         <UseItem ... Id="234" ... />
       Since a quick read would be unclear whether the Id alias refers to
       the QuestId or the ItemId.
  -->
  <!--
    -----
    To convert this grammar to XSD:
    * Grab Trang from http://www.thaiopensource.com/relaxng/trang.html
    * Run the following command:
      java.exe -jar trang.jar HBSchema-QuestProfile.rnc HBSchema-QuestProfile.xsd
    * Enjoy your new XSD schema.
      PLEASE DO NOT CONVERT FROM XSD TO RNC--much information will be lost
      since RelaxNG is slightly more expressive than XSD.
       >>> The RelaxNG schema is considered the 'authoritative' schema source <<<
    
  -->
  <!-- ********** Schema for HONORBUDDY CORE GRAMMAR ********** -->
  <xs:element name="HBProfile">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="AvoidMobs"/>
        <xs:element ref="Blacklist"/>
        <xs:element ref="BlacklistedQuestGivers"/>
        <xs:group ref="Blackspots"/>
        <xs:element ref="ContinentId"/>
        <xs:element ref="Mailboxes"/>
        <xs:element ref="MailBlue"/>
        <xs:element ref="MailGreen"/>
        <xs:element ref="MailGrey"/>
        <xs:element ref="MailPurple"/>
        <xs:element ref="MailWhite"/>
        <xs:element ref="MaxLevel"/>
        <xs:element ref="MinDurability"/>
        <xs:element ref="MinFreeBagSlots"/>
        <xs:element ref="MinLevel"/>
        <xs:element ref="Name"/>
        <xs:element ref="ProtectedItems"/>
        <xs:element ref="Quest"/>
        <xs:element ref="QuestOrder"/>
        <xs:element ref="SellBlue"/>
        <xs:element ref="SellGreen"/>
        <xs:element ref="SellGrey"/>
        <xs:element ref="SellPurple"/>
        <xs:element ref="SellWhite"/>
        <xs:element ref="TargetElites"/>
        <xs:element ref="TargetingDistance"/>
        <xs:element ref="UseMount"/>
        <xs:element ref="Vendors"/>
      </xs:choice>
      <xs:attribute ref="xsi:noNamespaceSchemaLocation"/>
    </xs:complexType>
  </xs:element>
  <!-- ********** Synthetic nodes ********** -->
  <xs:attributeGroup name="Attributes-ObjectiveCore">
    <xs:attribute name="Nav" type="HBType-Nav"/>
    <xs:attribute name="QuestId" use="required" type="HBType-Id"/>
    <xs:attribute name="QuestName"/>
    <xs:attribute name="X" type="xs:decimal"/>
    <xs:attribute name="Y" type="xs:decimal"/>
    <xs:attribute name="Z" type="xs:decimal"/>
  </xs:attributeGroup>
  <!-- ********** Schema for LEVELBOT core ********** -->
  <!-- ********** Schema for CONDITIONS ********** -->
  <!-- ********** Schema for CUSTOM BEHAVIORS ********** -->
</xs:schema>
