trunk/1-90 Questing Profile Pack/Schemas/RelaxNG/HBCustomBehaviors-Hooks.rnc

# =====
# Original contribution by chinajade
#   $Rev$
#   $Date$
#
# WARNING: DO NOT EDIT .xsd files.
#   They are not authoritative and will be overwritten!
#   Instead, regenerate the .xsd files from the .rnc 'sources'.
#   Its a one-line command to do this. Please see README.txt
#   for more information.
# =====


# BEGIN: Hooks\DoWhen
CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\DoWhen" },

    attribute Command { "Disable" },
    (attribute ActivityName { string }
     | attribute ItemId { HBType-Id }
     | attribute SpellId { HBType-Id })
  }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\DoWhen" },

    attribute Command { "Enable" },
    (attribute ActivityName { string }
     | attribute ItemId { HBType-Id }
     | attribute SpellId { HBType-Id })
  }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\DoWhen" },

    attribute Command { "Remove" },
    (attribute ActivityName { string }
     | attribute ItemId { HBType-Id }
     | attribute SpellId { HBType-Id })
  }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\DoWhen" },

    attribute Command { "ShowActivities" }
  }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\DoWhen" },

    attribute Command { "Update" }?,
    (attribute ActivityName { string }
     | attribute ItemId { HBType-Id }
     | attribute SpellId { HBType-Id }),
    (attribute UseAtInterval { HBType-TimeDuration }
     | attribute UseWhen { HBType-Condition }),
    attribute AllowUseDuringCombat { HBType-Boolean }?,
    attribute AllowUseInVehicle { HBType-Boolean }?,
    attribute AllowUseWhileFlying { HBType-Boolean }?,
    attribute AllowUseWhileMounted { HBType-Boolean }?,
    attribute StopMovingToConductActivity { HBType-Boolean }?,

    QuestOrder_Directives*
  }
# END: Hooks\DoWhen


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\BarrelHook" }
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\BlackrockMaskHook" },

    attribute state { HBType-Boolean }?
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\MountHook" },

    attribute state { HBType-Boolean }
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\TheEndlessFlowHook" }
  }
